.item {
    background-color: white;
    margin: 15px 0;
    &_content {
        position: relative;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        & h3 {
            text-align: center;
        }
        & img {
            width: 400px;
            height: 400px;
            object-fit: cover;
        }
        &_btn {
            background-color: #424251;
            font-size: 15px;
            line-height: 20px;
            padding: 15px 30px;
            margin-bottom: 10px;
            color: white;
            border-radius: 25px;
            border: none;
            margin: 15px 0;
        }
        &_favourite {
            position: absolute;
            top: 75px;
            right: 25px;
            cursor: pointer;
        }
        &_price {
            padding-top: 15px;
        }
    }
}