.modal {
    &_bg {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
    }
    &_body {
        background-color: white;
        border: 1px solid black;
        border-radius: 10px;
        width: 50%;
        margin: 0 auto;
        padding: 20px;
    }
    &_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &_close {
        cursor: pointer;
    }
    &_footer_btn {
        display: flex;
        justify-content: start;
        & button {
            &:first-child {
                margin-right: 40px;
            }
        }
    }
}