body {
    background-color: rgba(227, 199, 186, 0.25);
}
.modal_button_container {
    background-color: #424251;
    font-size: 15px;
    line-height: 20px;
    padding: 15px 30px;
    margin-bottom: 10px;
    color: white;
    border-radius: 25px;
    border: none;
    margin: 15px 0;
}