// .modal-button {
// &:hover {
//     background-color: blanchedalmond;
// }
// }
.button {
  padding: 10px 30px;
  &_container {
    width: auto;
  }
}
.container_btn {
  display: flex;
  justify-content: space-between;
}
.container {
  height: 100vh;
  &_btn {
    margin: 0 auto;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
  }
}