.header {
    width: 100%;
    height: 80px;
    background-color: white;
    &_container {
        max-width: 1500px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;
        &_pages {
            width: 5%;
            display: flex;
            justify-content: space-between;
        }
    }
}