.modal {
    &_bg {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 100;
    }
    &_body {
        background-color: white;
        border: 1px solid black;
        border-radius: 10px;
        width: 30%;
        margin: 50px auto;
        padding: 20px;
        min-height: 200px;
        display: flex;
        flex-direction: column;
    }
    &_close {
        cursor: pointer;
        text-align: end;
    }
    &_content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &_text {
            font-size: 24px;
            text-align: center;
        }
    }
    &_footer_btn {
        display: flex;
        justify-content: end;
        & button {
            &:first-child {
                margin-right: 40px;
            }
        }
    }
}